In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../athlete_events.csv")
region_df = pd.read_csv("../noc_regions.csv")

In [8]:
# summer only
df = df[df['Season'] == "Summer"]

In [10]:
# merge
# to get medals tally
# group by Name of Country NOC
df = df.merge(region_df, how="left", on="NOC")
df.shape

(222552, 17)

In [12]:
# remove NaN medal values
# df.dropna(subset=['Medal'])

temp_df = df.dropna(subset=['Medal'])

In [13]:
temp_df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

<ipython-input-13-a7c679d1ac18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

In [15]:
temp_df.groupby('Year').count()['Medal']

Year
1896    120
1900    300
1904    280
1906    224
1908    322
1912    316
1920    449
1924    391
1928    356
1932    370
1936    422
1948    439
1952    457
1956    467
1960    461
1964    501
1968    527
1972    600
1976    613
1980    631
1984    685
1988    738
1992    814
1996    841
2000    925
2004    927
2008    963
2012    962
2016    973
Name: Medal, dtype: int64

### For country year wise

In [22]:
# country wise analysis
new_df = temp_df[temp_df['region'] == 'USA']
final_df = new_df.groupby('Year').count()['Medal'].reset_index()
final_df

    Year  Medal
0   1896     19
1   1900     54
2   1904    231
3   1906     23
4   1908     46
5   1912     63
6   1920     95
7   1924     99
8   1928     56
9   1932    110
10  1936     57
11  1948     84
12  1952     76
13  1956     74
14  1960     71
15  1964     90
16  1968    107
17  1972     94
18  1976     94
19  1984    173
20  1988     94
21  1992    108
22  1996    101
23  2000     91
24  2004    101
25  2008    110
26  2012    103
27  2016    121

In [23]:
import plotly.express as px
fig = px.line(final_df, x='Year', y='Medal')
fig.show()

ModuleNotFoundError: No module named 'plotly'